body{
  background-color:  #EEF9BF;
}

.title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -0.004em;
  text-align: center;
  margin: 40px 0;
  color: #75B79E;
}

.gameBoard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 134px 50px 113px;
}

.card-container{
  width: 117px;
  height: 146px;
  position: relative;
  margin-right: 34px;
  margin-bottom: 34px;
  cursor: pointer;  
}

.card-back, .card-front{
  background: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: all .7s;
  transform-style: preserve-3d;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.card-back{
  background: #A7E9AF;
  transform: rotateY(180deg);
}

img {
  width: 100px;
  height: 100px;
}

.card-container.flipped .card-front {
  transform: rotateY(180deg);
}

.card-container.flipped .card-back {
  transform: rotateY(0deg);
}

.block {
  cursor: not-allowed;
}

.block * {
  pointer-events: none; 
}